{%load static%}
<footer>
    <section class="footer-upper">
      <div class="container">
        <div class="footer-links">
          <h4>Shop & Learn</h4>
          <ul>
            <li>Music</li>
            <li>Movies</li>
            <li>Shows</li>
            <li>Apps</li>
            <li>Gift Cards</li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>Orange Store</h4>
          <ul>
            <li>Find a Store</li>
            <li>Today at Orange</li>
            <li>Financing</li>
            <li>Orange Camp</li>
            <li>Order Status</li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>Education & Business</h4>
          <ul>
            <li>Orange & Education</li>
            <li>Shop for Collage</li>
            <li>Orange & Business</li>
            <li>Shop for Business</li>
            <li>Jobs</li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>About Orange</h4>
          <ul>
            <li>Newsroom</li>
            <li>Orange Leadership</li>
            <li>Investors</li>
            <li>Envents</li>
            <li>Contact Orange</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="footer-lower">
      <p>Copyright © 2022 Do Some Coding</p>
    </section>
</body>
</html>